.nova-previewcard__positioner {
  z-index: var(--nova-z-menu);
}

.nova-previewcard__popup {
  position: relative;
  width: 286px;
}

.nova-previewcard__surface {
  display: block;
  padding: var(--nova-space-4);
  overflow: hidden;
}

.nova-previewcard__body {
  position: relative;
}
