.hanabi-alert {
  width: min(var(--hanabi-alert-w), 100%);
  margin: auto;
  padding: var(--hanabi-pad-modal);
  padding-top: 34px;
}

.hanabi-alert__sigil {
  font-size: var(--hanabi-fs-12);
  margin-right: 6px;
}

.hanabi-alert--danger {
  --hanabi-plate-fill: var(--hanabi-danger);
  --hanabi-plate-shade: var(--hanabi-danger-shade);
}

.hanabi-alert--warning {
  --hanabi-plate-fill: var(--hanabi-warning);
  --hanabi-plate-color: var(--hanabi-on-warning);
  --hanabi-plate-shade: var(--hanabi-warning-shade);
}

.hanabi-alert--primary {
  --hanabi-plate-fill: var(--hanabi-primary);
}
