.lumen-menu__positioner {
  z-index: var(--lumen-z-menu);
  outline: none;
}

.lumen-menu__popup {
  min-width: var(--lumen-menu-min-w);
  padding: var(--lumen-space-1);
  background: var(--lumen-surface-popup);
  outline: none;
}

.lumen-menu__item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: var(--lumen-space-3);
  padding: var(--lumen-space-2) var(--lumen-space-3);
  cursor: pointer;
  color: var(--lumen-text);
  font-family: var(--lumen-font);
  font-size: var(--lumen-fs-14);
  user-select: none;
  outline: none;
  transition:
    background var(--lumen-dur) var(--lumen-ease),
    color var(--lumen-dur) var(--lumen-ease);
}
.lumen-menu__icon {
  flex: 0 0 auto;
  display: inline-flex;
  font-size: var(--lumen-fs-16);
  color: var(--lumen-text-mute);
  transition: color var(--lumen-dur) var(--lumen-ease);
}
.lumen-menu__label {
  flex: 1;
  white-space: nowrap;
}
.lumen-menu__shortcut {
  flex: 0 0 auto;
  margin-left: var(--lumen-space-5);
  font-family: var(--lumen-font-mono);
  font-size: var(--lumen-fs-12);
  letter-spacing: var(--lumen-ls-8);
  color: var(--lumen-text-mute);
}

.lumen-menu__item[data-highlighted],
.lumen-menu__item[data-popup-open] {
  background: var(--lumen-primary);
  color: var(--lumen-on-primary);
}
.lumen-menu__item[data-highlighted] .lumen-menu__icon,
.lumen-menu__item[data-popup-open] .lumen-menu__icon,
.lumen-menu__item[data-highlighted] .lumen-menu__shortcut,
.lumen-menu__item[data-popup-open] .lumen-menu__shortcut {
  color: var(--lumen-on-primary);
}
.lumen-menu__item[data-disabled] {
  opacity: var(--lumen-disabled-opacity);
  cursor: not-allowed;
}

.lumen-menu__item--danger,
.lumen-menu__item--danger .lumen-menu__icon {
  color: var(--lumen-danger);
}
.lumen-menu__item--danger[data-highlighted] {
  background: var(--lumen-danger);
  color: var(--lumen-on-danger);
}
.lumen-menu__item--danger[data-highlighted] .lumen-menu__icon {
  color: var(--lumen-on-danger);
}

.lumen-menu__separator.lumen-separator {
  position: relative;
  z-index: 1;
  margin: var(--lumen-space-2);
}

.lumen-menu__arrow {
  flex: 0 0 auto;
  display: inline-flex;
  margin-left: var(--lumen-space-4);
  font-size: var(--lumen-fs-14);
  color: var(--lumen-text-mute);
  transition: color var(--lumen-dur) var(--lumen-ease);
}
.lumen-menu__item[data-highlighted] .lumen-menu__arrow,
.lumen-menu__item[data-popup-open] .lumen-menu__arrow {
  color: var(--lumen-on-primary);
}
