.nova-autocomplete__field {
  --nova-field-min-w: var(--nova-autocomplete-min-w);
}

.nova-autocomplete__positioner {
  z-index: var(--nova-z-dropdown);
  outline: none;
}
.nova-autocomplete__popup {
  min-width: var(--anchor-width);
  padding: var(--nova-space-1);
}

.nova-autocomplete__empty {
  position: relative;
  z-index: 1;
  padding: var(--nova-space-4) var(--nova-space-3);
  text-align: center;
  color: var(--nova-text-mute);
  font-size: var(--nova-fs-13);
  letter-spacing: var(--nova-ls-4);
}
.nova-autocomplete__empty:empty {
  padding: 0;
}
.nova-autocomplete__list {
  position: relative;
  z-index: 1;
}
